/* 1. Começar resetando o HTML. */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

/* 2. Definir o grid e o gap do container. */
.container {
    max-width: 90vw;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* 3. Ajustar o tamanho do card e da img (todos devem ter exatamente o mesmo tamanho). */
.image img {
    max-width: 300px;
}

/* 4. Estilizar o card. */

/* 5. Definir a tipografia(fonte, cor do texto, espessura, etc) do card. */
